In [6]:
'''Q1//create a pandas series that contain folling data : 4,8,15,16,23 and 42 then print the series.'''
import pandas as pd


list = ['4','8', '15', '16', '23', '42']


series = pd.Series(list)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [11]:
''' create a variable of list type containing 10 element in it and apply pandas series function variable print it '''

import pandas as pd


list = ['p','w', 's','k','i', 'l', 'l', 's','o','k']


series = pd.Series(list)
print(series)

0    p
1    w
2    s
3    k
4    i
5    l
6    l
7    s
8    o
9    k
dtype: object

In [12]:

import pandas as pd


data = [['alice', 25 ,"Female"], ['bob', 30,"Male"], ['claire', 27,"Femle"]]


df = pd.DataFrame(data, columns=['Name', 'Age',"Gender"])


df

     Name  Age  Gender
0   alice   25  Female
1     bob   30    Male
2  claire   27   Femle

'''what is data frame how is diffarent from series?Explain with exmple.

Series in pandas contains a single list which can store heterogeneous type of data, because of this, series is also considered as a 1-dimensional data structure. On the other hand, DataFrame is a 2-dimensional data structure which contains multiple lists of heterogeneous type of data.'''

'''  what are the common function to manipulate data in pandas data frame? write a one with its example.
 Remove Column from pandas DataFrame.
 Add New Column to pandas DataFrame.
 Merge Two pandas DataFrames.
 Rename Columns of pandas DataFrame.
 Remove Row from pandas DataFrame.
 Add New Row to pandas DataFrame.
  still we did not read any example of thtis related topic
'''

 '''Which of the following is mutable in nature Series, DataFrame, Panel?
 
 Series Objects are value-mutable but size-immutable objects. 
 
 Pandas DataFrame is mutable
 
 '''

In [16]:
''' Create a DataFrame using multiple Series. Explain with an example.'''
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])


df=pd.concat([courses,fees])

df=pd.concat([courses,fees,discount],)
print(df)

0      Spark
1    PySpark
2     Hadoop
0      22000
1      25000
2      23000
0       1000
1       2300
2       1000
dtype: object