In [45]:
'''Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]'''

t=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
m=t.sort
t

[('Sachin Tendulkar', 34357),
 ('Ricky Ponting', 27483),
 ('Jack Kallis', 25534),
 ('Virat Kohli', 24936)]

In [8]:
'''Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'''

lu=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

lu_sq=[]
for i in lu:
    lu_sq.append(i*i)
print (lu_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [48]:
'''Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')'''

string_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

tuple(str(string_list))

('[',
 '1',
 ',',
 ' ',
 '2',
 ',',
 ' ',
 '3',
 ',',
 ' ',
 '4',
 ',',
 ' ',
 '5',
 ',',
 ' ',
 '6',
 ',',
 ' ',
 '7',
 ',',
 ' ',
 '8',
 ',',
 ' ',
 '9',
 ',',
 ' ',
 '1',
 '0',
 ']')

In [25]:
'''Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.'''

from functools import reduce
l=[]
for i in range (1,26):
    l.append(i)
print ("So the produced list is " ,l)
reduce(lambda x,y:x*y,l)

So the produced list is  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

15511210043330985984000000

In [39]:
'''Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]'''

l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
l1=[]
v=filter(lambda x : x%2==0 & x%3==0 ,l)
for i in v:
    l1.append(i)
l1

[2, 6, 60, 90, 120, 46]

In [43]:
'''Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']'''

l1=['python', 'php', 'aba', 'radar', 'level']
l2=[]
v=filter(lambda x : x==x[::-1],l1)
for i in v:
    l2.append(i)
l2

['php', 'aba', 'radar', 'level']